


<div th:fragment="Tjena">
  <div class="topnav" id="myTopnav">
    <a th:href="@{/}" class="active"><img  class="active" src="../static/images/Batman-logo.png" width="40"></a>
    <a th:href="@{/gadgets}">Gadgets</a>
    <a th:href="@{/todo}">BatList</a>
    <a th:href="@{/about}">About</a>
    <a href="#">My account</a>
    <a class="logout-link" th:href="@{/logout}">Log Out</a>
    <div class="dropdown end ">

      <button class="dropbtn ">
        <i class="fas fa-user"></i>

      </button>

      <div class="dropdown-content" id="myDropdown">
        <a href="#">My account</a>
        <a class="logout-link" th:href="@{/logout}">Log Out</a>
      </div>
    </div>

    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunctionNav()">&#9776;</a>
  </div>

  <!-- component -->
  <div class="bg-gray-100 font-sans w-full min-h-screen m-0">
    <div class="bg-white shadow">
      <div class="container mx-auto px-4">
        <div class="flex items-center justify-between py-4">


        </div>

      </div>

    </div>
  </div>
</div>


</div>