<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>about</title>



</head>
<style>

.centered-content {
    display: flex;
    margin-left:20px;

    height: 80vh;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70%;
  border-radius: 5px;
  text-align: left;
  background-color: white;


}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;

}
</style>

<body class="body" >
<div th:replace="fragments/navbar :: Tjena"></div>

 <div style=" margin-left:20px;  margin-top: 40px;">


        <h1 style="padding: 10px; color: black; margin-left:20px; center;
         -webkit-text-stroke: 1px #FFDE00; font-weight: bold; font-size: 40px;"
        >About BatCare</h1>

        <div  class="centered-content">
            <div class="card">

                <div class="container">
                    <h4 style="font-size: 20px;"><b>Your help in need</b></h4>
                    <div style=" font-size: 18px; font-style: italic;">
                        <p style=" text-align: left; margin-bottom: 5px;">BatCare is design to save the day for bats who save the day! With the graphic masterpiece "BatList",
                            no task is too small for the caped crusader to handle.</p>
                        <p style=" text-align: left; margin-bottom: 5px;">As Alfred, the Rolls Royce of admins,
                             registers the tasks and organize them in their right subject columns, Batman can spend his time on execution. </p>
                        <p style=" text-align: left; margin-bottom: 5px;">No more trying to remember what the next move is, just pick up the
                            BatPhone and take on the list. So Batman can focus on what he does best: kick some villains ass!</p>
                    </div>



                </div>



        </div>







    </div>







     <div style=" color:rgb(80, 92, 124) margin-top: 30px"></div>
</div>











</div>





<a    th:href="@{/admin-page}" class="footer">
    <div style="margin-right: 20px;">
        Admin
    </div>
</a>
</body>
</html>
