<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/static/styles.css">

<head>
    <meta charset="UTF-8">
    <title>admin-page</title>

</head>

<style>

</style>

<body>

<div class="topnav" id="myTopnav">

    <a th:href="@{/home}" class="active"><img  class="active" src="../static/images/Batman-logo.png"
                                               width="40"></a>
    <a th:href="@{/gadgets}">Gadgets</a>
    <a th:href="@{/todo}">To Do List</a>
    <a  th:href="@{/logout}">Log Out</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>



<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

<div style=" text-align: center;">


<div >
    <h1> Alfred Admin </h1>

    <h2> New task</h2>

    <div style=" margin-bottom: 50px;  margin: 0 auto; 140px; width:50%;" class="card">



        <form method="post" th:action="@{/todo/post}" th:object="${toDo}">
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" required>
            <br>

            <label for="content">Content:</label>
            <textarea id="content" name="content" required></textarea>
            <br>

            <input type="submit" value="Create ToDo">
        </form>


    </div>


</div>
</div>

</div>

<a    th:href="@{/admin-page}" class="footer">
    <div style="margin-right: 10px;">
        Admin
    </div>
</a>

</body>
</html>
