<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/static/styles.css">
<link rel="stylesheet" type="text/css" href="/static/home.css">
<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">



<head>
    <meta charset="UTF-8">
    <title>home</title>


</head>

<body class="body" >

<div th:replace="fragments/navbar :: Tjena"></div>

<div class=" mt-10  flex flex-col justify-center">
    <div style="display: flex; justify-content: center; margin-top: 10px;">
        <h1 style="padding: 10px; color: black; text-align: center; -webkit-text-stroke: 1px #FFDE00; font-weight: bold; font-size: 40px;">WELCOME TO BATCARE</h1>

    </div>
    <div th:if="${currentUser != null}">
        <h1  style=" padding: 10px; color: black; text-align: center; -webkit-text-stroke: 1px #FFDE00; font-weight: bold; font-size: 40px;" th:text="${currentUser.username}">!</h1>
        <div class=" mt-5  flex justify-center">
            <img src="../static/images/Batman-logo.png" alt="This image could not be loaded">
        </div>

    </div>


</div>

<a th:href="@{/admin-page}" class="footer">
    <div style="margin-right: 20px;">
        Admin
    </div>
</a>

</body>

</html>



